/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2f586a;
  --ifm-color-primary-dark: #2a4f5f;
  --ifm-color-primary-darker: #284b5a;
  --ifm-color-primary-darkest: #213e4a;
  --ifm-color-primary-light: #346175;
  --ifm-color-primary-lighter: #36657a;
  --ifm-color-primary-lightest: #3d728a;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #56b5f0;
  --ifm-color-primary-dark: #38a8ed;
  --ifm-color-primary-darker: #29a1ec;
  --ifm-color-primary-darkest: #1388d2;
  --ifm-color-primary-light: #74c2f3;
  --ifm-color-primary-lighter: #83c9f4;
  --ifm-color-primary-lightest: #b0dcf8;
}
